@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
};
/* .blackbtn{
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));

  @apply rounded-full hover:bg-white hover:text-black bg-black text-white;
}; */
/* .whitebtn{
  @apply rounded-full bg-white text-black hover:bg-black hover:text-white;
} */
.outline_btn {
  @apply rounded-full border border-black bg-transparent py-2 px-5 text-black transition-all hover:bg-black hover:text-white text-center text-sm flex items-center justify-center;

}
.black_btn {
  @apply rounded-full border border-black bg-black py-2 px-5 text-white transition-all hover:bg-white hover:text-black text-center text-sm flex items-center justify-center;
}